/* Main container styling */
.container {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*head styling*/
h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  color: #333;
}

/*paragraph styling*/
p {
  font-size: 1em;
  color: #555;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.name-title h1 {
  font-size: 2em;
  margin: 0;
}

.name-title p {
  font-size: 1.2em;
  color: #666;
}

.icon {
  width: 65px;
  height: 65px;
}

.icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contact & Summary styling */
.contact-summary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.contact-summary .left,
.contact-summary .right {
  width: 45%;
}

.vertical-line {
  width: 2px;
  background-color: #ccc;
  align-self: stretch;
}

ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin-right: 20px; /* space between elements*/
  font-size: 1em;
  color: #555;
}

hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

/*styling the classes
 to let them in right left sides*/
.contact-summary,
.skills-education,
.courses-hobbies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*set width*/
.left, .right {
  width: 45%;
}

/*set vertical line*/
.vertical-line {
  width: 2px;
  background-color: #ccc;
  height: auto;
  margin: 0 20px;
}

/*to add spaces around classes*/
.clear {
  clear: both;
}
